@model TeknikServis.Models.ViewModels.ArizaViewModel
@{
    ViewBag.Title = "GetAriza";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div class="col-md-9 col-md-offset-1">
    <div class="box box-success">
        <div class="nav-tabs-custom">
            <div class="tab-content">
                <div class="tab-pane active" id="timeline">
                    @if (TempData["Message"] != null)
                    {
                        <h3><i class=" fa fa-exclamation-circle text-orange" style="font-size:30px"></i>@TempData["Message"]</h3>
                    }
                    else
                    {
                        <ul class="timeline timeline-inverse">



                            <li class="time-label">
                                <span class="bg-red">
                                    @Model.ArizaOlusturmaTarihi.ToShortDateString()
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-wrench bg-blue"></i>
                                <div class="timeline-item">
                                    <span class="time"><a class="btn btn-warning btn-xs" href="@Url.Action("GetArizaDetay", "Teknisyen", new { id = Model.Id })"><i class="fa fa-eye text-black"></i>Arıza Detay</a></span>

                                    <h3 class="timeline-header"><b>Arıza No: @Model.Id</b></h3>

                                    <div class="timeline-body">
                                        @Model.MusteriAdi
                                    </div>
                                    <div class="timeline-body">
                                        @Model.Aciklama
                                    </div>
                                    <div class="timeline-footer">

                                        <a class="btn btn-success btn-xs btniskabul" name="@Model.Id">İş Kabul</a>
                                        <a class="btn btn-danger btn-xs btnyolda" name="@Model.Id">Yolda</a>
                                        <a class="btn btn-warning btn-xs btnulasti" name="@Model.Id">Ulaştı</a>
                                        <a class="btn btn-info btn-xs btnislemtamam" name="@Model.Id">İş Tamamlandı</a>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-clock-o bg-gray"></i>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section bottom
{
    <script src="~/dist/js/bootstrap-notify.min.js"></script>
    <script>
        $(function () {
            $(".btnyolda").hide();
            $(".btnulasti").hide();
            $(".btnislemtamam").hide();
            $(".btniskabul").click(function() {
                var id = this.name;
                $(this).attr("disabled", true);
                $(".btnyolda").show();
                $.ajax({
                    url: "@Url.Action("IsOnay","Teknisyen")",
                    method: "post",
                    dataType: "json",
                    data: {id:id}
                }).done(function (e) {
                    console.log(e);
                    $.notify({
                            // options
                            message: e.message,
                            title: 'Mesaj: '
                        },
                        {
                            // settings
                            type: e.success ? "success" : "danger"
                        });
                    });
            });

            $(".btnyolda").click(function() {
                var id = this.name;
                $(".btnulasti").show();
                $(this).attr("disabled", true);
                $.ajax({
                    url: "@Url.Action("Yolda", "Teknisyen")",
                    method: "post",
                    dataType: "json",
                    data: {id:id}
                }).done(function (e) {
                    console.log(e);
                    $.notify({
                            // options
                            message: e.message,
                            title: 'Mesaj: '
                        },
                        {
                            // settings
                            type: e.success ? "success" : "danger"
                        });
                });
            });
            $(".btnulasti").click(function() {
                var id = this.name;
                $(this).attr("disabled", true);
                $(".btnislemtamam").show();
                $.ajax({
                    url: "@Url.Action("Ulasti", "Teknisyen")",
                    method: "post",
                    dataType: "json",
                    data: {id:id}
                }).done(function (e) {
                    console.log(e);
                    $.notify({
                            // options
                            message: e.message,
                            title: 'Mesaj: '
                        },
                        {
                            // settings
                            type: e.success ? "success" : "danger"
                        });
                });
            });

            $(".btnislemtamam").click(function () {
                var id = this.name;
                $(this).attr("disabled", true);
                $.ajax({
                    url: "@Url.Action("IslemTamam", "Teknisyen")",
                    method: "post",
                    dataType: "json",
                    data: {id:id}
                }).done(function (e) {
                    $.notify({
                            // options
                            message: e.message,
                            title: 'Mesaj: '
                        },
                        {
                            // settings
                            type: e.success ? "success" : "danger"
                        });
                });
            });
        });
    </script>
}
