@model List<TeknikServis.Models.ViewModels.UserMarkaModelViewModel>
@{
    ViewBag.Title = "GetAriza";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div class="col-md-9 col-md-offset-1">
    <div class="box box-success">
        <div class="nav-tabs-custom">
            <div class="tab-content">
                <div class="tab-pane active" id="timeline">
                    <ul class="timeline timeline-inverse">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var data = Model[i];
                            <li class="time-label">
                                <span class="bg-red">
                                    @data.ArizaOlusturmaTarihi.ToShortDateString()
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-wrench bg-blue"></i>
                                <div class="timeline-item">
                                    <span class="time"><a class="btn btn-warning btn-xs" href="@Url.Action("GetArizaDetay", "Teknisyen",new {id =data.Id })"><i class="fa fa-eye text-black"></i>Arıza Detay</a></span>

                                    <h3 class="timeline-header"><b>Arıza No: @(i + 1)</b></h3>

                                    <div class="timeline-body">
                                        @data.MusteriAdi
                                    </div>
                                    <div class="timeline-body">
                                        @data.Aciklama
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-success btn-xs btniskabul" name="@data.Id">İş Kabul</a>
                                        <a class="btn btn-danger btn-xs btnyolda" name="@data.Id">Yolda</a>
                                        <a class="btn btn-warning btn-xs btnulasti" name="@data.Id">Ulaştı</a>
                                        <a class="btn btn-info btn-xs btnislemtamam" name="@data.Id">İş Tamamlandı</a>
                                    </div>
                                </div>
                            </li>
                        }

                        <li>
                            <i class="fa fa-clock-o bg-gray"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section bottom
{
    <script src="~/dist/js/bootstrap-notify.min.js"></script>
    <script>
        $(function () {
            $(".btniskabul").click(function() {
                var id = this.name;
                $.ajax({
                    url: "@Url.Action("IsOnay","Teknisyen")",
                    method: "post",
                    dataType: "json",
                    data: {id:id}
                }).done(function (e) {
                    console.log(e);
                    $.notify({
                            // options
                            message: e.message,
                            title: 'Mesaj: '
                        },
                        {
                            // settings
                            type: e.success ? "success" : "danger"
                        });
                });
            });

            $(".btnyolda").click(function() {
                var id = this.name;
                $.ajax({
                    url: "@Url.Action("Yolda", "Teknisyen")",
                    method: "post",
                    dataType: "json",
                    data: {id:id}
                }).done(function (e) {
                    console.log(e);
                    $.notify({
                            // options
                            message: e.message,
                            title: 'Mesaj: '
                        },
                        {
                            // settings
                            type: e.success ? "success" : "danger"
                        });
                });
            });
            $(".btnulasti").click(function() {
                var id = this.name;
                $.ajax({
                    url: "@Url.Action("Ulasti", "Teknisyen")",
                    method: "post",
                    dataType: "json",
                    data: {id:id}
                }).done(function (e) {
                    console.log(e);
                    $.notify({
                            // options
                            message: e.message,
                            title: 'Mesaj: '
                        },
                        {
                            // settings
                            type: e.success ? "success" : "danger"
                        });
                });
            });
            $(".btnislemtamam").click(function() {
                var id = this.name;
                $.ajax({
                    url: "@Url.Action("IslemTamam", "Teknisyen")",
                    method: "post",
                    dataType: "json",
                    data: {id:id}
                }).done(function (e) {
                    console.log(e);
                    $.notify({
                            // options
                            message: e.message,
                            title: 'Mesaj: '
                        },
                        {
                            // settings
                            type: e.success ? "success" : "danger"
                        });
                });
            });
        });
    </script>
}
