@using TeknikServis.Models.ViewModels;
@using TeknikServis.BLL.Repository;
@model TeknikServis.Models.ViewModels.MarkaModelViewModel
@{
    ViewBag.Title = "GetMarkaModel";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2><b>Marka Model Ekleme Formu</b></h2>

<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Marka Ekleme</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    @using (Html.BeginForm("AddMarka", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="box-body">
            <div class="com-md-12">
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.Label("Marka Adı")
                        @Html.TextBoxFor(x => x.MarkaViewModel.Marka, new { @class = "form-control", placeholder = "Marka Adı Yazınız" })
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.Label("Markalar")
                        @Html.ListBox("Markalar", (List<SelectListItem>)ViewBag.MarkaList, new { @class = "form-control" })
                    </div>
                </div>

            </div>

        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary btn-warning">Kaydet</button>
        </div>
    }
</div>

<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Model Ekleme</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    @using (Html.BeginForm("AddModel", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="box-body">
            <div class="com-md-12">
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.Label("Marka Adı")
                        @Html.DropDownListFor(x => x.MarkaViewModel.MarkaId, (List<SelectListItem>)ViewBag.MarkaList, new { @class = "form-control", size = "1" })
                        <br />
                      
                        @Html.ListBoxFor(x => x.ModelViewModel.ModelId, (List<SelectListItem>)ViewBag.ModelList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.Label("Model Adı")
                        @Html.TextBoxFor(x => x.ModelViewModel.Model, new { @class = "form-control", placeholder = "Model Adı Yazınız" })
                    </div>
                </div>

            </div>

        </div>
        <div class="box-footer">
            <p align="right">
                <button type="submit" class="btn btn-primary btn-danger">Kaydet</button>
            </p>

        </div>

    }
</div>

