@using TeknikServis.BLL.Identity
@model TeknikServis.Models.ViewModels.ProfilePasswordViewModel

@{
    ViewBag.Title = $"{Model.UserProfileViewModel.Name} {Model.UserProfileViewModel.Surname} Profil Sayfası";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="@Model.UserProfileViewModel.AvatarPath" alt="User profile picture">
                <h3 class="profile-username text-center">@MembershipTools.GetNameSurname(null)-@Model.UserProfileViewModel.UserName</h3>
                <p class="text-muted text-center">@Model.UserProfileViewModel.Email</p>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Şifre Güncelle</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.ChangePasswordViewModel.OldPassword)
                        @Html.TextBoxFor(x => x.ChangePasswordViewModel.OldPassword, new { @class = "form-control", type = "password" })
                        <br /><span class="text-red">@Html.ValidationMessageFor(x => x.ChangePasswordViewModel.OldPassword)</span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ChangePasswordViewModel.NewPassword)
                        @Html.TextBoxFor(x => x.ChangePasswordViewModel.NewPassword, new { @class = "form-control", type = "password" })
                        <br /><span class="text-red">@Html.ValidationMessageFor(x => x.ChangePasswordViewModel.NewPassword)</span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ChangePasswordViewModel.ConfirmNewPassword)
                        @Html.TextBoxFor(x => x.ChangePasswordViewModel.ConfirmNewPassword, new { @class = "form-control", type = "password" })
                        <br /><span class="text-red">@Html.ValidationMessageFor(x => x.ChangePasswordViewModel.OldPassword)</span>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </div>
            }
        </div>
    </div>
    <!-- /.col -->
    <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Profil Bilgileri</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("UpdateProfile", "Account", FormMethod.Post, new { @class = "fieldset", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.UserProfileViewModel.Id)
                @Html.HiddenFor(x => x.UserProfileViewModel.UserName)
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.UserProfileViewModel.Name)
                        @Html.TextBoxFor(x => x.UserProfileViewModel.Name, new { @class = "form-control", placeholder = "Adınızı Giriniz" })
                        <br /><span class="text-red">@Html.ValidationMessageFor(x => x.UserProfileViewModel.Name)</span>

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.UserProfileViewModel.Surname)
                        @Html.TextBoxFor(x => x.UserProfileViewModel.Surname, new { @class = "form-control", placeholder = "Soyadınızı Giriniz" })
                        <br /><span class="text-red">@Html.ValidationMessageFor(x => x.UserProfileViewModel.Surname)</span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.UserProfileViewModel.Email)
                        @Html.TextBoxFor(x => x.UserProfileViewModel.Email, new { @class = "form-control", type = "email", placeholder = "Email Giriniz" })
                        <br /><span class="text-red">@Html.ValidationMessageFor(x => x.UserProfileViewModel.Email)</span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.UserProfileViewModel.PhoneNumber)
                        @Html.TextBoxFor(x => x.UserProfileViewModel.PhoneNumber, new { @class = "form-control", placeholder = "Telefon Numaranızı Giriniz" })
                        <br /><span class="text-red">@Html.ValidationMessageFor(x => x.UserProfileViewModel.PhoneNumber)</span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.UserProfileViewModel.PostedFile)
                        @Html.TextBoxFor(x => x.UserProfileViewModel.PostedFile, new { @class = "form-control", type = "file", multiple = false })
                        <br /><span class="text-red">@Html.ValidationMessageFor(x => x.UserProfileViewModel.PostedFile)</span>
                    </div>

                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Değişiklikleri Kaydet</button>
                </div>
            }
        </div>
    </div>
    <!-- /.col -->
</div>

