@model TeknikServis.Models.ViewModels.AnketViewModel

@{
    ViewBag.Title = "Anket";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}



<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-success">
            <div class="box-header with-border">
                <br />
                <h3 class="box-title"><b>Memnuniyet Anketi</b></h3>
                <br />
            </div>
            <div class="box-body">
                @using (Html.BeginForm("Anket", "Musteri", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.AnketId)

                    <div class="form-group ">
                        @Html.LabelFor(model => model.Soru1, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Soru1, new { @class = "form-control", id = "inputError", type = "number", step = "5", min = "0", max = "100" })
                        </div>
                        <br /><span>@Html.ValidationMessageFor(model => model.Soru1, "", new { @class = "text-danger" })</span>
                    </div>
                    <br />
                    <br />
                    <div class="form-group ">
                        @Html.LabelFor(model => model.Soru2, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Soru2, new { @class = "form-control", id = "inputError", type = "number", step = "5", min = "0", max = "100" })
                        </div>
                        <br /><span>@Html.ValidationMessageFor(model => model.Soru2, "", new { @class = "text-danger" })</span>
                    </div>
                    <br />
                    <br />
                    <div class="form-group ">
                        @Html.LabelFor(model => model.Soru3, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Soru3, new { @class = "form-control", id = "inputError", type = "number", step = "5", min = "0", max = "100" })
                        </div>
                        <br /><span>@Html.ValidationMessageFor(model => model.Soru3, "", new { @class = "text-danger" })</span>
                    </div>
                    <br />
                    <br />
                    <div class="form-group ">
                        @Html.LabelFor(model => model.Soru4, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Soru4, new { @class = "form-control", id = "inputError", type = "number", step = "5", min = "0", max = "100" })
                        </div>
                        <br /><span>@Html.ValidationMessageFor(model => model.Soru4, "", new { @class = "text-danger" })</span>
                    </div>
                    <br />
                    <br />
                    <div class="form-group ">
                        @Html.LabelFor(model => model.Soru5, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Soru5, new { @class = "form-control", id = "inputError", type = "number", step = "5", min = "0", max = "100" })
                        </div>
                        <br /><span>@Html.ValidationMessageFor(model => model.Soru5, "", new { @class = "text-danger" })</span>
                    </div>
                    <br />
                    <br />
                    <div class="form-group ">
                        @Html.LabelFor(model => model.Soru6, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Soru6, new { @class = "form-control", id = "inputError", type = "number", step = "5", min = "0", max = "100" })
                        </div>
                        <br /><span>@Html.ValidationMessageFor(model => model.Soru6, "", new { @class = "text-danger" })</span>
                    </div>
                    <br />
                    <br />
                    <div class="form-group ">
                        @Html.LabelFor(model => model.Soru7, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.Soru7, new { @class = "form-control", rows = "3" })
                        </div>
                        <br /><span>@Html.ValidationMessageFor(model => model.Soru7, "", new { @class = "text-danger" })</span>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="box-footer" style="margin:20px;">
                        <div class="col-xs-6 col-xs-offset-3">
                        <button type="submit" class="btn btn-success form-control">Gönder</button>
                        </div>
                    </div>
                    
                }
            </div>
        </div>
    </div>
</div>




