@model TeknikServis.Models.ViewModels.UserMarkaModelViewModel
@{
    ViewBag.Title = "ArizaBildirimi";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div class="box box-warning">
    <div class="box-header with-border">
        <h2 class="box-title">Arıza Kaydı Oluşturma Formu</h2>
    </div>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> @TempData["Message"]</h4>    
        </div>

    }
    <div class="box-body">
        @using (Html.BeginForm("ArizaBildirimi", "Musteri", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(x => x.Adres)
                @Html.TextAreaFor(x => x.Adres, new { @class = "form-control", placeholder = "Adresinizi giriniz." })
                <br /><span class="text-red">@Html.ValidationMessageFor(x => x.Adres)</span>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.MarkaModelViewModel.MarkaViewModel.Marka)
                @Html.TextBoxFor(x => x.MarkaModelViewModel.MarkaViewModel.Marka, new { @class = "form-control", placeholder = "Marka giriniz." })
                <br /><span class="text-red">@Html.ValidationMessageFor(x => x.MarkaModelViewModel.MarkaViewModel.Marka)</span>
                @*@Html.LabelFor(x => x.MarkaModelViewModel.Marka)
                    <select class="form-control">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                    </select>*@
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.MarkaModelViewModel.ModelViewModel.Model)
                @Html.TextBoxFor(x => x.MarkaModelViewModel.ModelViewModel.Model, new { @class = "form-control", placeholder = "Model giriniz." })
                <br /><span class="text-red">@Html.ValidationMessageFor(x => x.MarkaModelViewModel.ModelViewModel.Model)</span>
                @*@Html.LabelFor(x => x.MarkaModelViewModel.Model)
                    <select class="form-control">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                    </select>*@
            </div>
            <!-- textarea -->

            <div class="form-group">
                @Html.LabelFor(x => x.Aciklama)
                @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control", placeholder = "Açıklama giriniz." })
                <br /><span class="text-red">@Html.ValidationMessageFor(x => x.Aciklama)</span>
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Kayıt Oluştur</button>
            </div> 
         
        }


    </div>

</div>