@using TeknikServis.Models.Enums;
@using TeknikServis.BLL.Identity;
@model List<TeknikServis.Models.ViewModels.ArizaViewModel>
@{
    ViewBag.Title = "KayitliArizalar";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"><b>Tüm Arızalar Formu</b></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <br />
                <table class="table table-hover">
                    <tbody>

                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var data = Model[i];
                            if (data.ArizaYapildiMi == true)
                            {

                                <tr>
                                    <td>
                                        <div class="box collapsed-box box-success">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">@data.ArizaOlusturmaTarihiS.AsDateTime().ToShortDateString() -  @data.ArizaOlusturmaTarihiS.AsDateTime().ToShortTimeString()  -  @data.MarkaAdi-@data.ModelAdi</h3>
                                                <div class="timeline-item">
                                                    <span class="time"><i class="fa fa-check-square-o text-success"></i> Arızanız Sonuçlanmıştır.</span>
                                                    <h6 class="timeline-header no-border">
                                                        Bizi tercih ettiğiniz için teşekkür ederiz. Memnuniyet anketimize katılmanız rica olunur.
                                                    </h6>
                                                </div>

                                                <div class="box-tools pull-right">
                                                    <button type="button" class="btn btn-box-tool btndetay" name="@data.Id" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>

                                            </div>
                                            <div class="box-body detay" style="display: none;">
                                                <label>Müşteri Adı:</label><span id="musteriadi">@data.MusteriAdi</span><br />
                                                <label>Marka-Model:</label><span id="modelmarka">@data.MarkaAdi-@data.ModelAdi</span><br />
                                                <label>Müşteri Arıza Analizi:</label><span id="aciklama">@data.Aciklama</span><br />
                                                <label>Adres :</label><span id="adres">@data.Adres</span><br />
                                                <label>Teknisyen Adı :</label><span id="teknisyen">@data.TeknisyenAdi</span><br />
                                                <label>Teknisyen Durumu :</label><span id="teknisyendurumu">@data.TeknisyenDurumu</span><br />
                                                @if (data.GarantiliVarMi)
                                                {
                                                    <label>Garanti Durumu :</label><span id="garanti">Garantili Ürün</span><br />
                                                }
                                                else
                                                {
                                                    <label>Garanti Durumu :</label><span id="garanti">Garantisiz Ürün</span><br />
                                                }
                                                <label>Ücret :</label><span id="ucret">@data.Ucret</span><br />
                                                @if (data.ArizaYapildiMi)
                                                {
                                                    <label>Arıza Onarımı :</label><span id="garanti">Başarılı</span><br />
                                                }
                                                else
                                                {
                                                    <label>Arıza Onarımı :</label><span id="garanti">Başarısız</span><br />
                                                }
                                               
                                                <div class="timeline-item">
                                                    <div class="timeline-body">
                                                        @for (int j = 0; j < data.ArizaFotograflari.Count; j++)
                                                        {
                                                            <img src="@data.ArizaFotograflari[j]" class="margin">
                                                        }
                                                    </div>
                                                </div>

                                                <div>
                                                    @if (data.ArizaLoglar != null)
                                                    {
                                                        for (int k = 0; k < data.ArizaLoglar.Count; k++)
                                                        {
                                                            <div class="tab-pane active" id="timeline">
                                                                <ul class="timeline timeline-inverse">
                                                                    <li>
                                                                        <i class="fa fa-user bg-aqua"></i>
                                                                        <div class="timeline-item">
                                                                            <span class="time"><i class="fa fa-clock-o"></i>@data.ArizaLoglar[k].Zaman</span>

                                                                            <h3 class="timeline-header no-border">
                                                                                @data.ArizaLoglar[k].Aciklama
                                                                            </h3>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        }
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <div class="box collapsed-box box-danger">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">@data.ArizaOlusturmaTarihiS.AsDateTime().ToShortDateString() -  @data.ArizaOlusturmaTarihiS.AsDateTime().ToShortTimeString()  -  @data.MarkaAdi-@data.ModelAdi</h3>

                                                <div class="box-tools pull-right">
                                                    <button type="button" class="btn btn-box-tool btndetay" name="@data.Id" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>

                                            </div>
                                            <div class="box-body detay" style="display: none;">
                                                <label>Müşteri Adı:</label><span id="musteriadi">@data.MusteriAdi</span><br />
                                                <label>Marka-Model:</label><span id="modelmarka">@data.MarkaAdi-@data.ModelAdi</span><br />
                                                <label>Müşteri Arıza Analizi:</label><span id="aciklama">@data.Aciklama</span><br />
                                                <label>Adres :</label><span id="adres">@data.Adres</span><br />
                                                <label>Teknisyen Adı :</label><span id="teknisyen">@data.TeknisyenAdi</span><br />
                                                <label>Teknisyen Durumu :</label><span id="teknisyendurumu">@data.TeknisyenDurumu</span><br />
                                                @if (!data.GarantiliVarMi)
                                                {
                                                    <label>Garanti Durumu :</label><span id="garanti">Henüz incelenemedi</span><br />
                                                }
                                                else
                                                {
                                                    <label>Garanti Durumu :</label><span id="garanti">Garantili Ürün</span><br />
                                                }
                                                <label>Ücret :</label><span id="ucret">@data.Ucret</span><br />
                                                @if (data.ArizaYapildiMi)
                                                {
                                                    <label>Arıza Durumu :</label><span id="arizadurumu">Başarılı</span><br />
                                                }
                                                else
                                                {
                                                    <label>Arıza Durumu :</label><span id="arizadurumu">Henüz işlemde</span><br />
                                                }

                                                <div class="timeline-item">
                                                    <div class="timeline-body">
                                                        @for (int j = 0; j < data.ArizaFotograflari.Count; j++)
                                                        {
                                                            <img src="@data.ArizaFotograflari[j]" class="margin">
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                @if (data.ArizaLoglar != null)
                                                {
                                                    for (int k = 0; k < data.ArizaLoglar.Count; k++)
                                                    {
                                                        <div class="tab-pane active" id="timeline">
                                                            <ul class="timeline timeline-inverse">
                                                                <li>
                                                                    <i class="fa fa-user bg-aqua"></i>
                                                                    <div class="timeline-item">
                                                                        <span class="time"><i class="fa fa-clock-o"></i>@data.ArizaLoglar[k].Zaman</span>

                                                                        <h3 class="timeline-header no-border">
                                                                            @data.ArizaLoglar[k].Aciklama
                                                                        </h3>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

@section bottom
{
    @*<script>
            $(".btndetay").click(function () {
                var id = this.name;
                $(".detay").hide();
                $.ajax({
                    url: "@Url.Action("GetArizaDetay","Operator")",
                    method: "post",
                    dataType: "json",
                    data: { id: id }
                }).done(function (e) {
                    console.log(e);
                    var arizaTarihi = new Date(e.data.ArizaOlusturmaTarihiS);

                    var tarih = arizaTarihi.getDate() + "/" + (arizaTarihi.getMonth() + 1) + "/" + arizaTarihi.getFullYear();
                    var saat = arizaTarihi.getHours() + ":" + arizaTarihi.getMinutes();
                    var markamodel = e.data.MarkaAdi + " - " + e.data.ModelAdi;
                    var teknisyen = e.data.TeknisyenAdi;
                    renderfoto(e.data.ArizaFotograflari);
                    $("#saat").html(saat);
                    $("#arizakayit").text(tarih);
                    $("#musteriadi").html(e.data.MusteriAdi);
                    $("#modelmarka").html(markamodel)
                    $("#aciklama").html(e.data.Aciklama);
                    $("#adres").html(e.data.Adres);
                    $("#teknisyen").html(teknisyen);
                    $("#teknisyendurumu").html(e.data.TeknisyenDurumu);
                    $("#garanti").html(e.data.GarantiliVarMi);
                    $("#ucret").html(e.data.Ucret);
                    $("#arizadurumu").html(e.data.ArizaYapildiMi);

                    $(".modal").show();
                    });
                $("#foto").children().remove("img");
            });

            function renderfoto(data) {

                $.each(data,
                    function (key, value) {
                        var img = document.createElement("img");
                        $(img).attr("src", value).attr("class", "margin").width("150px").height("150px");
                        $("#foto").append(img);

                    });
            };

        </script>*@
}

