@using TeknikServis.Models.Enums;
@using TeknikServis.BLL.Identity;
@model List<TeknikServis.Models.ViewModels.ArizaViewModel>
@{
    ViewBag.Title = "KayitliArizalar";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Kayıtlı Arızalarım</h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Arıza Kayıt Tarihi</th>
                            <th>Teknisyen Adı</th>
                            <th>Teknisyen Durumu</th>
                            <th>Arıza Onay Durumu</th>
                            <th>Ücret</th>

                        </tr>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var data = Model[i];
                            <tr>
                                <td class="text-center">@(i + 1)</td>

                                <td>@data.ArizaOlusturmaTarihi</td>

                                <td>@data.TeknisyenAdi</td>

                                <td>
                                    @if (data.TeknisyenDurumu == TeknisyenDurumu.Bosta)
                                    {<span class="label label-danger" style="font-size:13px;">@data.TeknisyenDurumu</span>}
                                    @if (data.TeknisyenDurumu == TeknisyenDurumu.Beklemede)
                                    {<span class="label label-danger" style="font-size:13px;">@data.TeknisyenDurumu</span>}
                                    @if (data.TeknisyenDurumu == TeknisyenDurumu.Atandı)
                                    {<span class="label label-info" style="font-size:13px;">@data.TeknisyenDurumu</span>}
                                    @if (data.TeknisyenDurumu == TeknisyenDurumu.Yolda)
                                    {<span class="label label-warning" style="font-size:13px;">@data.TeknisyenDurumu</span>}
                                    @if (data.TeknisyenDurumu == TeknisyenDurumu.Ulasti)
                                    {<span class="label label-success" style="font-size:13px;">@data.TeknisyenDurumu</span>}
                                </td>

                                @* eve gidince ,if yaz *@
                                <td>@(data.ArizaOnaylandiMi == true ? "Onaylandı" : "Onaylanmadı")</td>
                                <td>@data.Ucret</td>
                                <td>@data.ArizaYapildiMi</td>

                                @*@if (data.ArizaYapildiMi == true)
                                    {*@
                                <td>
                                    <button type="button" class="btn btn-default btn-block btnmodal" name="@data.Id" data-toggle="modal" data-target="#modal-default">
                                        Ayrıntı
                                    </button>
                                </td>
                                @*}
                                    else
                                    {
                                        <td>

                                        </td>
                                    }*@

                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="modal-default" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title">Arıza Detayı</h4>
                                <div>
                                    <ul class="timeline">
                                        <!-- timeline time label -->

                                        <li class="time-label">
                                            <span class="bg-red">
                                                <span id="arizakayit"> </span>
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fa  fa-files-o bg-blue"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class="fa fa-clock-o"><span id="saat"></span></i></span>

                                                <h3 class="timeline-header"><b>Arıza Bilgileri</b></h3>

                                                <div class="timeline-body">

                                                    <label>Müşteri Adı:</label><span id="musteriadi"> </span><br />
                                                    <label>Marka-Model:</label><span id="modelmarka"> </span><br />
                                                    <label>Müşteri Arıza Analizi:</label><span id="aciklama"> </span><br />
                                                    <label>Adres :</label><span id="adres"></span><br />
                                                    <label>Teknisyen Adı :</label><span id="teknisyen"></span><br />
                                                    <label>Teknisyen Durumu :</label><span id="teknisyendurumu"></span><br />
                                                    <label>Garanti Durumu :</label><span id="garanti"></span><br />
                                                    <label>Ücret :</label><span id="ucret"></span><br />
                                                    <label>Arıza Durumu :</label><span id="arizadurumu"></span><br />

                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <i class="fa fa-camera bg-purple"></i>
                                            <div class="timeline-item">
                                                <div class="timeline-body" id="foto">

                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <i class="fa fa-clock-o bg-gray"></i>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

@section bottom
{
    <script>
        $(".btnmodal").click(function () {
            var id = this.name;
            $(".modal").hide();
            $.ajax({
                url: "@Url.Action("GetArizaDetay","Operator")",
                method: "post",
                dataType: "json",
                data: { id: id }
            }).done(function (e) {
                console.log(e);
                var arizaTarihi = new Date(e.data.ArizaOlusturmaTarihiS);

                var tarih = arizaTarihi.getDate() + "/" + (arizaTarihi.getMonth() + 1) + "/" + arizaTarihi.getFullYear();
                var saat = arizaTarihi.getHours() + ":" + arizaTarihi.getMinutes();
                var markamodel = e.data.MarkaAdi + " - " + e.data.ModelAdi;
                var teknisyen = e.data.TeknisyenAdi;
                renderfoto(e.data.ArizaFotograflari);
                $("#saat").html(saat);
                $("#arizakayit").text(tarih);
                $("#musteriadi").html(e.data.MusteriAdi);
                $("#modelmarka").html(markamodel)
                $("#aciklama").html(e.data.Aciklama);
                $("#adres").html(e.data.Adres);
                $("#teknisyen").html(teknisyen);
                $("#teknisyendurumu").html(e.data.TeknisyenDurumu);
                $("#garanti").html(e.data.GarantiliVarMi);
                $("#ucret").html(e.data.Ucret);
                $("#arizadurumu").html(e.data.ArizaYapildiMi);

                $(".modal").show();
                });
            $("#foto").children().remove("img");
        });

        function renderfoto(data) {

            $.each(data,
                function (key, value) {
                    var img = document.createElement("img");
                    $(img).attr("src", value).attr("class", "margin").width("150px").height("150px");
                    $("#foto").append(img);

                });
        };

    </script>
}

