@model List<TeknikServis.Models.ViewModels.ArizaViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section top
{
    <link rel="stylesheet" href="../../bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}
<div class="row">
    <div class="col-xs-12">

        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Arıza Yönetimi Sayfası</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Müşteri İsmi</th>
                            <th>Adres</th>
                            <th>Teknisyen</th>
                            <th>Onay</th>
                            <th class="text-center" style="width: 10%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var data = Model[i];
                            <tr class="@(data.ArizaOnaylandiMi?"":"bg-red")">

                                <td class="text-center">@(i + 1)</td>
                                <td>@data.MusteriAdi</td>
                                <td>@data.Adres</td>
                                <td>
                                    @Html.DropDownList("Roles", (List<SelectListItem>)ViewBag.TeknisyenList, new { @class = "form-control", style = "width:100%", id = "teknisyen"+i })
                                </td>
                                <td>@Html.CheckBox("ArizaOnaylandiMi", data.ArizaOnaylandiMi, new { id = "onay" })</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-default btn-block btnguncelle" name="@data.Id" type="button" title="Güncelle">
                                            Güncelle
                                        </button>

                                        <button type="button" class="btn btn-default btn-block btnmodal" name="@data.Id" data-toggle="modal" data-target="#modal-default">
                                            Ayrıntı
                                        </button>

                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="modal fade" id="modal-default" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title">Arıza Detayı</h4>
                                <div>
                                    <ul class="timeline">
                                        <!-- timeline time label -->

                                        <li class="time-label">
                                            <span class="bg-red">
                                                <span id="arizakayit"> </span>
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fa  fa-files-o bg-blue"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class="fa fa-clock-o"><span id="saat"></span></i></span>

                                                <h3 class="timeline-header"><b>Arıza Bilgileri</b></h3>

                                                <div class="timeline-body">

                                                    <label>Müşteri Adı:</label><span id="musteriadi"> </span><br />
                                                    <label>Marka-Model:</label><span id="modelmarka"> </span><br />
                                                    <label>Müşteri Arıza Analizi:</label><span id="aciklama"> </span><br />
                                                    <label>Adres :</label><span id="adres"></span><br />
                                                    <label>Teknisyen Adı :</label><span id="teknisyen"></span><br />
                                                    <label>Teknisyen Durumu :</label><span id="teknisyendurumu"></span><br />
                                                    <label>Garanti Durumu :</label><span id="garanti"></span><br />
                                                    <label>Ücret :</label><span id="ucret"></span><br />
                                                    <label>Arıza Durumu :</label><span id="arizadurumu"></span><br />

                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <i class="fa fa-camera bg-purple"></i>
                                            <div class="timeline-item">
                                                <div class="timeline-body" id="foto">
                                                   
                                                </div>
                                            </div>
                                        </li>
                                      
                                        <li>
                                            <i class="fa fa-clock-o bg-gray"></i>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

        </div>
    </div>

</div>
@section bottom
{
    <script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/dist/js/bootstrap-notify.min.js"></script>
    <script>
        $(function () {
            $('#example1').DataTable();
          
            $(".btnmodal").click(function () {
                var id = this.name;
                $(".modal").hide();
                $.ajax({
                    url: "@Url.Action("GetArizaDetay","Operator")",
                    method: "post",
                    dataType: "json",
                    data: { id: id }

                }).done(function (e) {
                    console.log(e);
                    var arizaTarihi = new Date(e.data.ArizaOlusturmaTarihiS);

                    var tarih = arizaTarihi.getDate() + "/" + (arizaTarihi.getMonth() + 1) + "/" + arizaTarihi.getFullYear();
                    var saat = arizaTarihi.getHours() + ":" + arizaTarihi.getMinutes();
                    var markamodel = e.data.MarkaAdi + " - " + e.data.ModelAdi;
                    var teknisyen = e.data.TeknisyenAdi;
                    renderfoto(e.data.ArizaFotograflari);
                    $("#saat").html(saat);
                    $("#arizakayit").text(tarih);
                    $("#musteriadi").html(e.data.MusteriAdi);
                    $("#modelmarka").html(markamodel)
                    $("#aciklama").html(e.data.Aciklama);
                    $("#adres").html(e.data.Adres);
                    $("#teknisyen").html(teknisyen);
                    $("#teknisyendurumu").html(e.data.TeknisyenDurumu);
                    $("#garanti").html(e.data.GarantiliVarMi);
                    $("#ucret").html(e.data.Ucret);
                    $("#arizadurumu").html(e.data.ArizaYapildiMi);
                   
                    $(".modal").show();
                    });
                $("#foto").children().remove("img");
               
            });
           
            function renderfoto(data) {
               
                $.each(data,
                    function (key, value) {
                        var img = document.createElement("img");
                        $(img).attr("src",value).attr("class", "margin").width("150px").height("150px");
                        $("#foto").append(img);
                        
                    });
            };

            $(".btnguncelle").click(function () {
                var id = this.name;
                var trItems = $(this).parent().parent().parent().children();
                var select = $(trItems[3]).children()[0];
                var secili = $(select).val();
                var onay = $(trItems[4]).children().is(':checked');

                var data = {
                    Id:id,
                    ArizaOnaylandiMi :onay,
                    TeknisyenId: secili,
                    MusteriAdi: $(trItems[1])[0].innerText,
                    Adres: $(trItems[2])[0].innerText
                }
                $.ajax({
                    url: "@Url.Action("Guncelle","Operator")",
                    method: "post",
                    dataType: "json",
                    data: data
                }).done(function (e) {
                    location.reload();
                    $.notify({
                        // options
                        message: e.message,
                        title: 'Mesaj: '
                    },
                    {
                        // settings
                        type: e.success ? "success" : "danger"
                        });

                    });
            });
        });
    </script>
}


